<a href="https://colab.research.google.com/github/joepaul13/Vehicle-Insurance/blob/main/VehicleInsurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
URL = 'https://raw.githubusercontent.com/aviralb13/codes/main/datas/vehicle%20insursnce.csv'
data = pd.read_csv(URL)
data.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [7]:
from sklearn import preprocessing
label = preprocessing.LabelEncoder()

data['Gender'] = label.fit_transform(data['Gender'])
data['Vehicle_Age'] = label.fit_transform(data['Vehicle_Age'])
data['Vehicle_Damage'] = label.fit_transform(data['Vehicle_Damage'])
data.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1       1   44  ...                  26.0      217         1
1   2       1   76  ...                  26.0      183         0
2   3       1   47  ...                  26.0       27         1
3   4       1   21  ...                 152.0      203         0
4   5       0   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [8]:
features = ['Gender', 'Age', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium']
x = data[features]
y = data['Response']

In [9]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x,y)

In [15]:
from sklearn.ensemble import RandomForestClassifier
regressor_model = RandomForestClassifier(n_estimators = 10, random_state = 0)
regressor_model.fit(train_x, train_y)

RandomForestClassifier(n_estimators=10, random_state=0)

In [16]:
predictions = regressor_model.predict(test_x)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(test_y, predictions)

0.8424715044396398